@media (max-width: 640px) {
    body > form {
        width: 98%;
    }
    

}

html{
    font-family: 'Permanent Marker', cursive;
}

.bg{
    background-image: url(../images/background.jpg);
    background-size: contain;  
    background-repeat: no-repeat;
    padding: 50%;
    z-index: -5;
    position: absolute;
}

/*
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
*/

body {
    margin: 0;
    overflow: hidden;
    
}
.page {
    font-size: 16px;
    -webkit-transform: rotate(14.5deg);
    -moz-transform: rotate(14.5deg);
}

/*HEADER*/

.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3em;
    margin: 4em 0 1em 0;
}

/*
.done-count {
    font-size: 1em;
    color: red;
    letter-spacing: .5em;
    text-align: right;
}
*/

/*INPUT*/

form {
/*    margin: 8em 18em;*/
    margin: 6% 22%;
    width: 29em;
    overflow: scroll;
    max-height: 50em;
    position: absolute;
    z-index: 100;
}
.form-list {
    position: relative;
}
input {
    background: transparent;
    margin-left: 1em;
    position: relative;
    border: 0px;
    border-bottom: none;
    width: 88%;
    padding: 0;
    font-size: 3em;
    color: #333;
    font-family: 'Permanent Marker', cursive;
    height: 1.2em;
}

::-webkit-input-placeholder {
   color: #d9dbe0;
}
:-moz-placeholder { /* Firefox 18- */
   color: #d9dbe0;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #d9dbe0;  
}
:-ms-input-placeholder {  
   color: #d9dbe0;  
}

input:focus {
    outline: none;
/*  border-bottom: 1px solid #347bff;*/
    border-bottom: none;
}

button.delete {
    position: absolute;
    right: 0;
    bottom: 1.3em;
    background-image: url(../images/delete.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
}

button.done {
    position: absolute;
    left: 0;
    bottom: .5em;
    background-image: url(../images/done.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
    display: none;
}

button.done:hover {
    position: absolute;
    left: 0;
    bottom: .5em;
    background-image: url(../images/done_hover.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
    display: none;
}

button.done:focus{
    outline: none;
}

div.delete{
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9%;
    position: right;
    position: fixed;
    bottom: 0;
    right: 6em;
}

div.deleting{
    background-image: url(../images/eraser.png);
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 9%;
    position: right;
    position: fixed;
    left: -20em;
    top: -3em;
}

.delete-list{
    position: absolute;
    left: 0;
    bottom: .5em;
    background-image: url(../images/delete_hover.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
    display: none;
}


button.delete-list:focus{
    outline: none;
}

button.undone-list {
    position: absolute;
    left: 0;
    bottom: .5em;
    background-image: url(../images/undone.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
    display: none;
}

button.undone-list:hover {
    position: absolute;
    left: 0;
    bottom: .5em;
    background-image: url(../images/undone_hover.svg);
    background-repeat: no-repeat;
    padding: 1.2em;
    background-color: transparent;
    border: none;
    display: none;
}

button.undone-list:focus{
    outline: none;
}

.note{
  position: fixed;
  right: 6em;
  bottom: 7em;
  background-image: url(../images/noteArrow.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 15%;
  border: none;
  -webkit-transform: rotate(14.5deg);
  -moz-transform: rotate(14.5deg);
}

p{
    font-size: 1em;
    color: #333;
    padding: 1em 0 0 3em;
}

.residue{
  position: fixed;
  top: 0px;
  left: 380px;
  background-image: url(../images/residue.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 80%;
  padding: 20em;
  display: none;
  z-index: 1;
}